
    {% extends "base.html" %}

    {% block head %}
  <h1> Hello</h1>
      <h1>Welcome to My Site </h1>
      
      <h1>Smart Calculator </h1>
    <form action="{{url_for('form')}}" method="post">

     
        <!-- Operand-1: <input type="text" name="num1" placeholder="Enter First Operand" required="required">
        <br><br><br>
        Operand-2: <input type="text" name="num2" placeholder="Enter Second Operand" required="required">
        <br><br><br>
        Operator-3: <input type="None" name="op" placeholder="Enter Operator" required="required"> -->
        
        <!-- <br><br><br>
        <button type="submit"> Calculate</button> -->
        <div class="calculator card">

          <input type="text" class="calculator-screen z-depth-1" value="" disabled />
        
          <div class="calculator-keys">
        
            <button type="button" class="operator btn btn-info" value="+">+</button>
            <button type="button" class="operator btn btn-info" value="-">-</button>
            <button type="button" class="operator btn btn-info" value="*">&times;</button>
            <button type="button" class="operator btn btn-info" value="/">&divide;</button>
            <br><br><br>
            <button type="button" value="7" class="btn btn-light waves-effect">7</button>
            <button type="button" value="8" class="btn btn-light waves-effect">8</button>
            <button type="button" value="9" class="btn btn-light waves-effect">9</button>
        
            <br><br><br>
            <button type="button" value="4" class="btn btn-light waves-effect">4</button>
            <button type="button" value="5" class="btn btn-light waves-effect">5</button>
            <button type="button" value="6" class="btn btn-light waves-effect">6</button>
        
            <br><br><br>
            <button type="button" value="1" class="btn btn-light waves-effect">1</button>
            <button type="button" value="2" class="btn btn-light waves-effect">2</button>
            <button type="button" value="3" class="btn btn-light waves-effect">3</button>
            <br><br><br>
        
            <button type="button" value="0" class="btn btn-light waves-effect">0</button>
            <button type="button" class="decimal function btn btn-secondary" value=".">.</button>
            <button type="button" class="all-clear function btn btn-danger btn-sm" value="all-clear">AC</button>
            <br><br><br>
            <button type="button" class="equal-sign operator btn btn-default" value="=">=</button>
        
          </div>
        </div>
    </form>
    <br><br><br>
    Result is: {{score}}

    {% endblock %}
    
  

        
    